body{
    font-family: 'Jost', sans-serif;
background-color: rgb(245, 245, 245);
}





.btn-reg{
background-color: #E20079;
       }

.btn-reg:hover{
 background-color: #E6352C;
 }

 .card1{
  background-color:#E6DACB; 
  color: #261F27;
 }

 .card2{
  background-color:#E6DACB; 
  color: #261F27;
}

.card3{
    background-color:#E6DACB; 
    color: #261F27;
}


h1{
    font-family:jost black;
  }
h2{
  font:jost black;
}

.strongtitulo{
  color: #E20079;
}

nav{
  background-color: black;
}

#footer{
  background-color: antiquewhite;
}